body {
            font-family: 'Atkinson Hyperlegible', Arial, sans-serif;
            background: linear-gradient(to right, #f8f9fa, #e9ecef);
            color: #343a40;
            margin: 20px;
            padding: 20px;
        }

h1 {
            text-align: center;
            color: #495057;
            font-size: 2.5em;
            margin-bottom: 20px;
}